html {
  background-color: black;
}

.vsc-initialized {
  background-color: black;
}
body {
  background-color: black;
}
.container {
  background-color: black;
}
.app {
  display: flex;
  flex-direction: column;
  background-color: black;
}

.title-app {
  flex: 1;
}

#title {
	
  text-align: center;
	font-family: 'Press Start 2P', cursive;
	margin: 2%;
	color: blue;
	text-shadow: 3px 2px darkgrey;
}

.content {
  flex: 8;
  display: flex;
  justify-content: center;
}

.card-view-app{
  flex: 3;
}

.deck-list-app {
  flex: 1;
}

.decks {
	width: 110px;
	height: 100px;
}

.deck-list {
	height: 540px !important;
  overflow: scroll !important;
  width: 250px !important;
  background-color: black;
}
/*
.list-length {
	height: 100px !important;
}*/

.list-group-item {
  width: 250px !important;
  background-color: black !important;
}

.card-view {
	margin-right: 10%;
}

.media-body {
  background-color: black;
}
.media-heading {
  color: white;
  font-family: helvetica;
  font-weight: bold
  background-color: black !important;
}

#topic {
  margin-left: 25%
}

.card {
	margin: 25px;
  text-align: center;
  background-color: lightblue !important;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 25px;
  box-sizing: border-box;
  width: 280px;
  height: 360px;
  text-align: center;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
	border-radius: 8px;
}

.button2 {
	border-radius: 8px;
	background-color: #f44336 !important;
}