html {

  background: url(./images/nebula.jpg) no-repeat center center fixed;
  background-size: cover;
}
/* mobile */
@media only screen and (max-device-width: 450px) {
  .title-app {
  margin-left: 10%
  }

  .deck-list-app {
 
    padding-left: -12px !important;
  }
  .card-view {

    margin-left: 0% !important;
  }
 
  .deck-list {

    margin-left: 18% !important;
  }
  .landing-image {
    max-height: 700px;
    max-width: 400px;
    margin-left: 10% !important;
  }
  .actual-image {
    max-height: 100px !important;
    max-width: 270px !important;
  }
  .button-row {
    flex: 2 !important;
  }
}
/*end mobile */

/* ipad */
@media only screen and (max-device-width: 800px) {
  .content {
    display: flex;
    flex-direction: column;
  }
  .card-view-app {
    flex: 4;
  }
  .deck-list-app {
    flex: 1;
  }
  .card-view {
    flex: 4;
    min-height: 40% !important;
  }
  .deck-list {
    flex: 1;
    margin-left: 30%;
  }
  .landing-image {
    max-height: 700px;
    max-width: 400px;
    margin-left: 25%;
    flex: 4;
  }
  .actual-image {
    max-height: 400px !important;
    max-width: 300px;
  }
  #topic {
    margin-left: 34% !important; 
  }
}

/*end ipad */

.vsc-initialized {
  background: transparent;
}

body {
  background: transparent !important;
}

.container {
  background: transparent;
}

#title {
  text-align: center;
	font-family: 'Press Start 2P', cursive;
	margin: 2%;
	color: white;
}

.hover {
  color: white;
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
}


/*Card show section */

.card-view {
  margin-right: 5%; 
  margin-left: 8%;
  display: flex;
  flex-direction: column;
}

.card-show {
  flex: 6;
}

.button-row {
  flex: 1;
  text-align: center;
  font-size: 40px !important;
  margin-top: 400px !important;
}

.deck-title {
  flex: 1;
  text-align: center;
  color: white;
  font-size: 30px !important;
}

.decks {
	width: 110px;
	height: 100px;
  opacity: 1 !important;
}

.deck-list {
	height: 550px !important;
  margin-top: 40px;
  overflow: scroll !important;
  width: 250px !important;
  background: transparent;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.list-group .list-group-item {
  width: 250px;
  background: transparent;
}

.list-group .selected-list-group-item {
  background-color:rgba(0, 0, 0, 0.5);
}

.media-body {
  background: transparent;
}
.media-heading {
  color: white;
  font-family: helvetica;
  font-size: 18px;
  font-weight: bold
  background: transparent !important;
}

#topic {
  margin-left: 25%;
  color: white;
}

.card {
	margin: 25px;
  text-align: center;
  background-color: white !important;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  width: 320px;
  height: 360px;
  color: black ;
  font-size: 21px;
  font-weight: bold !important;
  opacity: .5;
  white-space: pre-wrap;
}

.back {
  text-align: left !important;
}

.button {
    background-color: #4CAF50;
    opacity: .9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
	border-radius: 8px;
}

.button2 {
	border-radius: 8px;
	background-color: #f44336 !important;
}